<div class="container">
  <div class="row">
    <div class="mainWrapper col-md-12">
    	<div class="headingWrapper"><label class="heading">Assignment-1</label></div>
      <input class="inputBox" type="string" id="input" value="18" [(ngModel)]="userInput" placeholder="Please enter the value">
      <button class="btn btn-primary btn-sm" style="margin-left:8px" (click)="doCalculation()">submit</button>
      <div id="listOfvalues">
      </div>
      <div id="numberExist"></div>
    </div>
  </div>
</div>